<table class="table table-hover">
  <thead>
    <th>Course</th>
    <th>Name</th>
    <th>Date</th>
    <th></th>
  </thead>

  <tbody>
    <% @bookmarks.each do |b| %>
    <tr id="<%= b.exam_paper.id %>">
      <td><%= b.exam_paper.course.name %></td>
      <td><%= b.exam_paper.lecturer.name %></td>
      <td><%= b.exam_paper.exam_date %></td>
      <td >
        <a href="<%=exam_paper_path(b.exam_paper)%>" class="btn"><i class="icon-forward"></i></a>
        <% if current_user == @user %>
        <a href="<%= bookmark_path(b)%>" data-confirm="Are you sure?" data-method="delete" data-remote="true" rel="nofollow" class="btn"><i class="icon-trash"></i></a>
        <% end %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>