<%= provide(:title, "Home") %>
<div class="container container1100">

  <% if !signed_in? %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <img src="/assets/images_in_home.png">
        </div>  

        <div class="span4">
          <h1>Sign up</h1>
          <%= form_for @user, html: {multipart: true} do |f| %>
            <%= render partial: 'shared/error_messages', locals: {obj: @user} %>

            <%= f.label :name %>
            <%= f.text_field :name %> 

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>
            
            <%= f.submit "Create my account", class: "btn btn-large btn-primary width100" %>
          <% end %>
        </div>
      </div>
    </div>
  
  <% else %>
  <div class="container container-fluid">
  	<div class="row">
    	<div class="span4">
		    <%= form_tag exam_papers_search_path, method: :get do %>
		      <%= select_tag "lecturer", options_from_collection_for_select(Lecturer.all, "id", "name"), include_blank: true %>
		      <%= select_tag "course", options_from_collection_for_select(Course.all, "id", "name"), include_blank: true %>
		      <%= radio_button("sort", "order", "time") %> Order by time<br>
			  <%= radio_button("sort", "order", "good") %> Order by user rating<br>
        		<br />
		      <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
		    <% end %>
		  <% end %>
		</div>
	</div>
  </div>
</div>