<div class="container">

  <% if !signed_in? %>
  
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          afldsfkd
        </div>  

        <div class="span4">
          <h1>Sign in</h1>
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          
          <%= form_for :session, url: sessions_path do |f| %>
          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
          <% end %>
          <div>Donot have an account? <%= link_to "Sign up here", signup_path %></div>
        </div>
      </div>
    </div>
  
  <% else %>
    <%= form_tag exam_papers_search_path, method: :get do %>
      <%= select_tag "lecturer", options_from_collection_for_select(Lecturer.all, "id", "name"), include_blank: true %>
      <%= select_tag "course", options_from_collection_for_select(Course.all, "id", "name"), include_blank: true %>
      <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
</div>