<% provide(:title, 'All users') %>

<div class="container">
<h1>Users</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <% if !@users.nil? %>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.avatar.url(:thumb) %></td>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= link_to "delete", user, method: :delete,
                                            data: { confirm: "You sure?" } %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  <%= will_paginate @exam_papers, class: "pagination pagination-centered" %>
</div>