<%= provide(:title, @user.name) %>

<div class="container container-fluid">
	<div class="span3" style="text-align: center;">
		<span style="font-size: 200%;"><%= @user.name %></span>
		<span>
				<% if current_user == @user %>
					<%= link_to "(Edit)", edit_user_path(@user) %>
				<% end %>
		</span>
		<div style="text-align: center; margin-top: 15px;">
			<% if @user.avatar.nil? %>
			<%= image_tag "default_avatar.png", class: "img-polaroid" %>
			<% else %>
			<%= image_tag @user.avatar.url(:thumb), class: "img-polaroid" %>
			<% end %>
		</div>
	</div>

	<div class="span8">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active">
						<a href="#tab1" data-toggle="tab">Bookmark (<%= @bookmarks.count %>)
					</a>
				</li>
				<li>
					<a href="#tab2" data-toggle="tab">
						Posted exam paper (<%= @exam_papers.count %>)
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<% if !@bookmarks.empty? %>
					<div id="bookmark-table">
						<%= render "bookmarks/bookmark_table" %>
					</div>
					<% end %>
				</div>

				<div class="tab-pane" id="tab2">
					<% if !@exam_papers.empty? %>
					<table class="table table-hover">
						<thead>
							<th>Course</th>
							<th>Name</th>
							<th></th>
						</thead>

						<tbody>
							<% @exam_papers.each do |e| %>
							<tr id="<%= e.id %>">
								<td><%= e.course.name %></td>
								<td><%= e.lecturer.name %></td>
								<td><a href="<%=exam_paper_path(e)%>" class="btn"><i class="icon-forward"></i></a></td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
