<%= provide(:title, @user.name) %>

<div class="container1100 container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="span4">
				<% if @user.avatar.nil? %>
				  <%= image_tag "default_avatar.png" %>
				<% else %>
				  <%= image_tag @user.avatar.url(:thumb) %>
				<% end %>
			</div>
				
			<div class="span5">
				<%= @user.name %><br>
				<% if current_user == @user %>
				<%= link_to "Edit account", edit_user_path(@user) %>
				<% end %>
			</div>
		</div>
		
		<div class="span4">
			<h2>Posted exam papers</h2>
			<% if !@exam_papers.empty? %>
			<table class="table table-hover">
				<thead>
					<th>Course</th>
					<th>Name</th>
					<th></th>
				</thead>
				
				<tbody>
					<% @exam_papers.each do |e| %>
					<tr id="<%= e.id %>">
						<td><%= e.course.name %></td>
						<td><%= e.lecturer.name %></td>
						<td><%= link_to "Go to", exam_paper_path(e) %></td>
					</tr>
			
			<% end %>
			<% end %>
				</tbody>
			</table>
		</div>

		<div class="span4">
			<h2>Bookmark</h2>
			<% if !@bookmarks.empty? %>
			<table class="table table-hover">
				<thead>
					<th>Course</th>
					<th>Name</th>
					<th></th>
				</thead>
				
				<tbody>
					<% @bookmarks.each do |b| %>
					<tr id="<%= b.exam_paper.id %>">
						<td><%= b.exam_paper.course.name %></td>
						<td><%= b.exam_paper.lecturer.name %></td>
						<td ><%= link_to "Go to", exam_paper_path(b.exam_paper) %></td>
					</tr>
			
			<% end %>
			<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>