<%= provide(:title, "Edit exam paper") %>
<div class="container">
  <h1>Edit exam paper</h1>
  <div class="row">
    <div class="span6 offset3">
      <%= form_for @exam_paper, html: {multipart: true} do |f| %>
        <%= render partial: 'shared/error_messages', locals: {obj: @exam_paper} %>

        <%= f.label :course_id %>
        <%= f.select "course_id", Hash[Course.all.collect {|a| [a.name, a.id]}]%>

        <%= f.label :lecturer_id %>
        <%= f.select "lecturer_id", Hash[Lecturer.all.collect {|a| [a.name, a.id]}]%>

        <%= f.label :exam_date %>
        <input type="date" name="exam_paper[exam_date]" style="width: auto;" value="<%= @exam_paper.exam_date %>"> 
        <p class="date-recommendation">* It is optional but we recommend you filling exam date to keep track of how new the exam paper is. The day is not necessary so you can just choose the right month.<p/>
        
        <%= f.label :content %>
        <%= f.text_area :content %>

        <%= f.fields_for :parts, html: {multipart: true} do |builder| %>
          <%= render "parts_fields", :f => builder %>
        <% end %>

        <%= f.submit "Upload", class: "btn btn-large btn-primary width100" %>
      <% end %>
    </div>
  </div>
</div>