<%= provide(:title, "Search results") %>
<div class="container">
  <%= form_tag exam_papers_search_path, method: :get do %>
    <%= select_tag "lecturer", options_from_collection_for_select(Lecturer.all, "id", "name"), include_blank: true %>
    <%= select_tag "course", options_from_collection_for_select(Course.all, "id", "name"), include_blank: true %>
    <%= submit_tag "Search", class:"btn btn-large btn-primary" %>
  <% end %>

  <% if !@results.nil? %>
    <% @results.each do |r| %>
      <%= r.lecturer.name %> |
      <%= r.course.name %> |
      <%= r.exam_date %> |
      <%= link_to "Browse", exam_paper_path(r) %></br>
    <% end %>
  <% else %>
    <p>No exam paper found.</p>
  <% end %>
</div>