<%= provide(:title, "Search results") %>
<div class="container container-fluid">
  <div class="row">
    <div class="span3" style="margin-top: 10px;">
        <%= form_tag exam_papers_search_path, method: :get, remote: true do %>
        <%= select_tag "lecturer", options_from_collection_for_select(Lecturer.all, "id", "name", params[:lecturer] ), include_blank: true %>
        <%= select_tag "course", options_from_collection_for_select(Course.all, "id", "name", params[:course]), include_blank: true %>
        <div class="hide">
          <%= radio_button("sort", "order", "time") %> Order by time<br>
          <%= radio_button("sort", "order", "good") %> Order by user rating<br>
        </div>
        <br />
        <%= submit_tag "Search", class:"btn btn-large btn-primary", id:"search-submit" %>
      <% end %> </div>

    <div class="span9" id="search-result">
    	<%= render partial: "search_result" %>
    </div>
  </div>
</div>