<%= provide(:title, "Exam paper") %>

<div class="user-button">
	<div class="bookmark">
		<div id="bookmark_form">
			<% if signed_in? && !current_user.bookmarked?(@exam_paper) %>
			<%= render "bookmark" %>
			<% else %>
			<%= render "remove_bookmark" %>
			<% end %>
		</div>
	</div>
	<div class="appreciate">
		<div id="appreciate_form">
			<% if signed_in? && !current_user.appreciated?(@exam_paper) %>
			<%= render "appreciate" %>
			<% else %>
			<%= render "remove_appreciate" %>
			<% end %>
		</div>
	</div>

	<div class="report">
		<div id="report_form">
			<% if signed_in? && !current_user.reported?(@exam_paper) %>
			<%= render "report" %>
			<% else %>
			<%= render "remove_report" %>
			<% end %>
		</div>
	</div>		
</div>

<div class="container1100 container-fluid">
	<div class="row-fluid">
		<div class="span8">
			<div class="ex-p-info">
				<div class="user-avatar">
					<%= link_to(image_tag(@exam_paper.user.avatar.url(:smallest)), user_path(@exam_paper.user)) %>
				</div>
				
				<div class="ex-p-info-left">
					Uploaded by <%= link_to @exam_paper.user.name, user_path(@exam_paper.user) %><br>
					
					<% if current_user == @exam_paper.user %>
						<%= link_to "Edit this exam paper", edit_exam_paper_path %>
					<% end %>
				</div>

				<div class="ex-p-info-right">
					<div class="row-fluid">
						Course: <%= @exam_paper.course.name %><br>
						Lecturer: <%= @exam_paper.lecturer.name %><br>
						Date: <%= @exam_paper.exam_date.month.to_s + "-" + @exam_paper.exam_date.year.to_s %><br>
							<i class="icon-thumbs-up"></i> <span id="appreciate-count"><%= @exam_paper.appreciates.count %></span><br>
							<i class="icon-thumbs-down"></i> <span id="report-count"><%= @exam_paper.reports.count %></span><br>
					</div>
				</div>
			</div>
			
			<div class="ex-p-content">
				<div class="ex-p-content-top">
					<%= simple_format h(@exam_paper.content) %>
				</div>
				<% if !@exam_paper.parts.empty? %>
					<div class="attach-file">
						<div>Attached images:</div>
						<% @exam_paper.parts.each do |p| %>
							<div class="attached-images">
								<%= link_to(image_tag(p.exam_part.url(:medium)), p.exam_part.url, target: "_blank") %>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="span4">				
			<div id="comment_area">
				<div id="comments">
					<%= render "comments/comments" %>
				</div>
				<% if signed_in? %>
				<div id="comment_form">
					<%= render "comment_form" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>